/* Tiara Aulia Azadirachta Indica | 5026231148 */
.bottom-nav {
  background: white;
  width: 100%;
  border-radius: 25px 25px 0 0; /* border atas melengkung */
}

.qr-btn-container {
  position: relative;
}

.qr-btn {
  background: #fff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: -25px; /* naik ke atas */
}

/* Jika layar kecil banget, biar tidak mepet */
@media (max-width: 360px) {
  .qr-btn {
    width: 45px;
    height: 45px;
    margin-top: -20px;
  }
}

/* Jika layar besar (tablet & desktop), beri jarak dan scaling */
@media (min-width: 768px) {
  .bottom-nav {
    width: 500px;
    margin: 0 auto;
  }
}
