body {
    background-color: #ffffff;
}

.card-section {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    background: #fff;
    margin-bottom: 25px;
}

.btn-add-location {
    background-color: #009FB7;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-item {
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F3F3F3;
}

.btn-share {
    background-color: #009FB7;
    color: white;
    border-radius: 12px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
}

.modal-header-custom {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

.modal-title-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 700;
}

.info-btn {
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    border: none;
    padding: 5px;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    font-size: 22px;
    padding: 5px;
}

/* override & hover */
.location-item {
    background: #ffffff;
    padding: 14px 16px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    transition: 0.2s;
}

.location-item:hover {
    background: #f7f7f7;
}

.location-item span {
    font-size: 15px;
}
