body {
    background: #ffffff;
}

.history-card {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    padding: 18px;
    margin-bottom: 18px;
}

.label-title {
    font-size: 15px;
    font-weight: 600;
}

.value-red {
    color: #D9534F;
    font-weight: 600;
}

.value-blue {
    color: #1BA7B5;
    font-weight: 600;
}
