body {
  font-family: "Poppins", sans-serif;
  max-width: 360px;
  margin: auto;
  background-color: #fff;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
h1 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #135e6c;
  margin-bottom: 1rem;
}
.country-code {
  width: 90px;
}
.btn-continue {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: #13a0b5;
  color: white;
  font-weight: 500;
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.15);
  text-decoration: none;
}
