/* {{--5026231148 Tiara Aulia Azadirachta Indica --}} */

body {
    background-color: #ffffff;
}

/* Circle kuning persis Figma */
.success-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #F4E63A; /* warna kuning Figma */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
    font-size: 60px;
    color: white;
    font-weight: bold;
}

/* Tombol style Figma */
.btn-figma {
    background-color: #0AA3BB;
    color: white;
    border: none;
    border-radius: 22px;
    padding: 14px;
    font-size: 18px;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.15);
}

.btn-figma:hover {
    opacity: 0.9;
}
