body {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.welcome-text h5 {
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.welcome-text h6 {
  font-weight: 700;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 2rem 0;
}

.btn-custom {
  width: 250px;
  border-radius: 20px;
  background-color: #09A8B6;
  color: white;
  font-size: 1rem;
  padding: 10px;
  margin: 0.5rem 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: background-color 0.2s ease;
}

.btn-custom:hover {
  background-color: #088d99;
  color: #fff;
}
