/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

/* HEADER */
.pln-header {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* CONTENT */
.header-content {
    position: relative;
    z-index: 2;
    padding: 16px;
    color: white;
}

/* BACK + TITLE */
.nav-title {
    display: flex;
    align-items: flex-start; 
    gap: 12px;
    margin-left: 12px; /* geser ke kanan sedikit */
    margin-top: 20px; /* geser judul ke bawah */
}


.nav-title i {
    font-size: 20px;
}

.nav-title a {
    color: white;           /* ubah warna ikon menjadi putih */
    text-decoration: none;  /* hilangkan garis bawah */
    margin-top: 5px; /* geser judul ke bawah */
}


.nav-title p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    max-width: 260px;
    color: #000;
    margin-top: 4px; /* bisa diatur lagi biar lebih rapi */
}

/* SEARCH */
.search-bar {
    margin-top: 16px;
    background: white;
    border-radius: 30px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0,0,0,.15);
}

.search-bar i {
    color: #999;
}

.search-bar input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
    font-size: 14px;

    .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    text-align: center;
}

.menu-item img {
    width: 64px;
    height: 64px;
}

.menu-item span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    color: #000000;
}

}
